DATAHUB_URL=http://datahub.sustainment.svc:8080
GIT_PROVISION_API_URL=https://api.sustainment.svc/v1/git/provision
GIT_SERVER_HOST=git.sustainment.internal
ARTIFACTORY_BASE_URL=https://artifactory.sustainment.internal
PLATFORM_GIT_TOKEN=dummy_platform_token
MESH_DEV_TOKEN=dummy_dev_token
